<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
    <link rel="stylesheet" href="../../static/css/var.css">
</head>
<body>
<br>
<br>5
    <h1 style="color:#fff">Students Report</h1>
    <div class="container">
        <div class="placed">
            <h2>Likely to be placed</h2>
            <p id="placedCount">{{ pla }}</p>
        </div>
        <div class="not-placed">
            <h2>Not Likely to be Placed</h2>
            <p id="notPlacedCount">{{ npla }}</p>
        </div>
    </div>
    <script>


</script>
</body>
</html>
