<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login Page with Background Image Example</title>
  <link rel="stylesheet" href="../../static/css/new.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
<!-- partial:index.partial.html -->
<div id="bg"></div>

<form>
<h1><center>Login</center></h1>
  <div class="form-field">
    <input type="email" placeholder="Email / Username" required/>
  </div>

  <div class="form-field">
    <input type="password" placeholder="Password" required/>
 </div>
  <p style="text-align:right;">forgot password?</p>
  <div class="form-field">
    <button class="btn" type="submit">Log in</button>
  </div>
<p><center>Don't have an account?  <a href="/signup">Sign up</a></center>
  	</p>

</form>
<script>
const showPassword=document.querySelector
('#show-password");

const passwordField=document.querySelector
('#password");

showPassword.addEventListener("click",function(){
this.classList.toggle("fa-eye-slash");
const type=passwordField.getAttribute("type")
==="password" ? "text" : "password";
passwordField.setAttribute("type",type);
})

</script>
<!-- partial -->

</body>
</html>
