<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Result</title>
  {% if predi==1 %}
  <div style="background-image: url('https://html.sammy-codes.com/images/background.jpg');
background-size: cover; height:480px; padding-top: 80px; text-align: center;">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzzCyG6Ueyk0C_ogUzqKdhzn4dDaO77bMDRcPkLQg5Ka4cQo_U6wEBDqOd5r2-sFdQZm4&usqp=CAU" style="height:150px; border-radius: 50%; border: 10px solid #00FF00;">
  <h1 style="font-size:100px; color:white; margin:10px;">you are likely to be placed</h1>
  <p style="font-size:30px; color: white;"><em>Your impressive academic performance, coupled with substantial work experience and valuable internships, greatly enhance your prospects of securing a placement</em></p>

  {% else %}

<div style="background-image: url('https://html.sammy-codes.com/images/background.jpg');
background-size: cover; height:480px; padding-top: 80px; text-align: center;">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrFfwLaH5u6Ph377DosQczRadUFxEV7ENd_4l-Iy1498Er3XyoQIVJRVr2ElRox5R-m8Y&usqp=CAU" style="height:150px; border-radius: 50%; border: 10px solid #FA2A55;">
  <h1 style="font-size:100px; color:white; margin:10px;">Less chances to get placed</h1>
  <p style="font-size:30px; color: white;"><em>To enhance your placement prospects, it's pivotal to further refine your skills, leverage internships effectively, and continue building a robust work experience</em></p>
  {% endif %}

 </head>

<body>

</body>
</html>
